.madlibs-container {
  text-align: center;
}

.madlibs-title {
  font-size: 24px;
  font-weight: bold;
}

.madlibs-form {
  margin-bottom: 20px;
}

.madlibs-get-story {
  font-weight: bold;
  padding: 10px 20px;
}

.madlibs-error {
  color: red;
  margin-top: 5px;
}
